:root {
  --primary-color: #f2f2f2;
  --link-color: #8e8d8a;
  --btn-color: #daad86;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.4;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto Serif', sans-serif;
}
.collapsible-menu{
  display: none;
}

h1 {
  font-family: 'Roboto Serif';
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

.container-image-text {
  display: flex;
  gap: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}
.container-image-text img {
  width: 45%;
  border-radius: 5px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scroll-btn {
  /* display: none; */
  position: fixed;
  /* width: 100%; */
  left: 90%;
  bottom: 40px;
  /* height: 20px; */
  font-size: 3rem;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  color: #999;
}

.btn {
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  background-color: var(--btn-color);
  transition: transform 0.1s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}
.btn a {
  text-decoration: none;
  color: #333;
}
.primary-title {
  font-size: 38px;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--primary-color);
}

.navbar-logo {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  color: var(--link-color);
  margin: 0px 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul a:hover {
  cursor: pointer;
  color: #cc0000;
  border-bottom: 1px solid;
}

/* showcase */
/* showcase */
.showcase-container {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 100%;
}

.investment-showcase-container {
  position: relative;
}

.investment-showcase-container img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  opacity: 0.9;
}

.investment-other-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.investment-other-container h2,
h3 {
  font-family: 'Roboto Serif';
  font-weight: 600;
  margin-top: 10px;
}

.investment-showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.showcase-content h1 {
  font-size: 25px;
  font-weight: 700;
}
.showcase-content h2 {
  font-size: 38px;
  font-weight: 400;
}

.showcase-content h4 a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.showcase-content h3 {
  font-size: 28px;
  font-weight: 100;
}

.showcase-content h4 a:hover {
  color: #cc0000;
}

.social-container {
  margin: 5px;
}

.social-container i {
  margin: 0px 5px;
  color: #fff;
}

.social-container i:hover {
  cursor: pointer;
  color: #cc0000;
}

.showcase-container img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  opacity: 0.9;
}
/* about */
.about-container {
  display: flex;
  width: 100%;
  padding: 50px;
}
.about-content {
  display: flex;
  width: 1200px;
  height: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 75px;
  background: white;
  border-radius: 5px;
}

.about-content img {
  width: auto;
  height: 300px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
}

.who-content-container {
  text-align: center;
  margin-left: 50px;
}
.who-content-container button {
  margin-top: 12px;
}

.about-btn-container {
  display: flex;
  justify-content: space-evenly;
}

/* services */
.services-container {
  display: flex;
  /*  */
  /* flex-wrap: wrap; */
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 50px;
  height: 70vh;
  margin: 4rem auto;
}
.services-container a {
  text-decoration: none;
  color: #333;
}

/* card component */
.card {
  /* background: #f8edeb; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
}
.services-container a:first-child{
  background: #fcd5ce91;
}

.services-container a:nth-child(2){
  background: #f8edeb;
}
.services-container a:nth-child(3){
  background: #f9dcc49f;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
  text-align: center;
}
.card-container h4 {
  font-size: 30px;
}
.card-container p {
  font-size: 18px;
  letter-spacing: 1px;
}

.card img {
  width: auto;
  height: 250px;
  border-radius: 3px;
}

/* wedding */
.wedding-container {
  max-width: 1200px;
  margin: auto;
}
.wedding-image-container img {
  display: block;
  margin: auto;
}
.wedding-info-container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}
.wedding-portfolio-container {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.vert {
  grid-row-end: span 2;
}
.wedding-image {
  overflow: hidden;
}
.wedding-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* family */

.family-container {
  max-width: 1200px;
  margin: auto;
}
.family-image-container img {
  display: block;
  margin: auto;
}
.family-info-container {
  text-align: center;
}
.family-portfolio-container {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.vert {
  grid-row-end: span 2;
}
.family-image {
  overflow: hidden;
}
.family-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* real estate */
.realEstate-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
}
.realEstate-image-container img {
  display: block;
  margin: auto;
}
.realEstate-info-container {
  text-align: center;
  padding: 10px;
}
.realEstate-info-container h1 {
  margin-bottom: 2rem;
}
.realEstate-portfolio-container {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.realEstate-image {
  overflow: hidden;
}
.realEstate-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* packages */
.packages-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  width: 1200px;
  margin: 50px auto;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
}

.packages-side {
  background-color: #c3c3c3;
  position: relative;
  padding: 42px 30px 50px 28px;
  border-radius: 5px;
  margin-top: 40px;
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  transition: background-color 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
}
.packages-middle {
  background-color: #888;
  position: relative;
  padding: 42px 30px 50px 28px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  transition: background-color 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
}

.packages-middle:hover {
  cursor: pointer;
  background-color: #a88888;
}
.packages-side:hover {
  cursor: pointer;
  background-color: #a88888;
}
.packages-title {
  line-height: 35px;
  color: var(--btn-color);
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}

.packages-price {
  line-height: 35px;
  color: var(--btn-color);
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}
.side {
  color: white;
}
.packages-content {
  margin: 10px 0px;
  text-align: center;
}
.packages-content p {
  margin: 10px 0px;
}
.line {
  border: #999 1px solid;
  opacity: 0.3;
}

.packages-info-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

/* testimonials */
.testimonial-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}
.testimonial-content {
  display: flex;
  flex-direction: row;
  /*  */
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  gap: 1rem;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
}
.testimonial {
  background: #fff6f6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  align-items: center;
  margin: 20px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.testimonial img {
  border-radius: 50%;
  width: auto;
  margin-bottom: 1rem;
  height: 150px;
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
}
.testimonial p {
  margin-left: 40px;
  text-align: center;
  color: #333;
}

/* contact */
.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  align-items: center;
}
.contact-content {
  width: 100%;
}

.ccForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  padding: 50px;
}
.ccForm form {
  margin: auto;
}
.ccForm h3 {
  color: var(--btn-color);
  font-weight: 100;
  font-family: 'Courgette', cursive;
  font-size: 30px;
}
.ccField-prepend {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 5px 0px;
}

.ccField-prepend input,
.ccField-prepend textarea {
  width: 500px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
}
.ccField-prepend textarea {
  padding: 30px;
}
.ccField-prepend label {
  margin-bottom: 7px;
  font-size: 20px;
  text-align: left;
  color: #333;
}
.star {
  color: #cc0000;
}

/* footer */
footer {
  text-align: center;
  padding: 50px 0px;
  background-color: var(--primary-color);
}
footer a {
  color: #cc0000;
  text-decoration: none;
  font-weight: 700;
}
